@media screen and (max-width: 580px) {
	.box {
		width: calc((100% - 20px)/3);
	}
	.box.left-two {
		margin-right: 10px;
	}
	.title-logo {
		width:70px;
	}
	.title-super {
		font-size: 30px;
		margin-top: 40px;
	}
	p {
		font-size: 0px;
	}
	h2 {
	font-size: 20px;
	}
	h3 {
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 700px) and (min-width: 581px) {
	.box {
		width: calc((100% - 20px)/3);
	}
	.box.left-two {
		margin-right: 10px;
	}
	.title-logo {
		width:80px;
	}
	.title-super {
		font-size: 40px;
		margin-top: 30px;
		padding: 0;
	}
	p {
		font-size: 10px;
	}
	h3 {
		font-size: 25px;
		margin-top: 7px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width: 991px) and (min-width: 701px){
	.title-logo {
		width:80px;
	}
	.title-super {
		font-size: 40px;
		margin-top: 35px;
		padding: 0;
	}
}

@media screen and (min-width: 701px){
	h3 {
		font-size: 35px;
		margin-top: 10px;
		margin-bottom: 8px;
	}
}