body {
	font-family: "Lato", sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

.text-muted {
	margin-left: 10px;
	color: #7d97ad;
	font-weight: 500;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 30px;
	width: 90px;
}

img {
	width: 100%;
}

hr {
	border-style: solid;
	border-color: #7d97ad;
	border-width: 3px 0 0 0;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 15px;
}