/* to see the border easily*/
* {
	border: 1px solid red !important;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Orienta', sans-serif;

}

@media only screen and (max-width: 300px) {
	p {
		background-color: blue;
	}
}
.row1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.row2 {
	width: 10%;
	display: flex;
	flex-wrap: wrap;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
	display: inline;
	margin:auto;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

p {
	font-size:80%;
}
p.link {
	margin-top:0;
	margin-bottom:2%;
}
h1 {
	margin-bottom:0%;
}
h2 {
	margin-top:2%;
	margin-bottom:0%;
}
h3 {
	margin-top:0%;
	margin-bottom:1%;
}
h4 {
	margin-top:1%;
	margin-bottom:0%;
}
a {
	font-size:80%;
	margin-top:1%;
	margin-bottom:1%;
}